@font-face {
  font-family: 'IvarHeadline';
  src: url('/fonts/Ivar_Headline.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mid-page-content {
  background-color: #f9f9fb;
  padding: 72px 0px;
  text-align: center;
  font-family: 'IvarHeadline', 'Times New Roman', serif;
}

.mid-page-header {
  margin: 10px auto 40px auto;
  padding: 0 20px;
  font-size: 20px;
  line-height: 24px;
  max-width: 425px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-component {
  background-color: rgb(255, 255, 255);
  margin-bottom: 15px;
  padding: 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, sans-serif;
  box-shadow: 0px 2px 4px 0px rgb(0, 0, 0, 0.3);
  transition: all 300ms ease-in-out 0s;
}

.card-component:hover {
  box-shadow: 0px 5px 15px rgb(209, 209, 213);
  height: 100%;
  width: 100%;
  transform: scale(1.02) translate(0px, -8px);
  cursor: pointer;
}

.card-component:hover .card-component-button {
  background-color: rgb(0, 106, 205);
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.card-component-content {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-component-content-title {
  color: rgb(42, 42, 51);
  font-size: 24px;
  font-family: 'IvarHeadline', 'Times New Roman', serif;
}

.card-component-content > p {
  color: rgb(42, 42, 51);
  margin-top: 16px;
  text-align: center;
  font-weight: 400;
  line-height: 24px;
}

.card-component-button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 106, 255);
  border: 1px solid rgb(0, 106, 255);
  border-radius: 4px;
  font-size: 16px;
  padding: 9px 16px;
  margin: 24px 0 16px 0;
  line-height: 24px;
  font-weight: 700;
}

img {
  margin-top: 16px;
  width: 100%;
  display: block;
}

@media screen and (min-width: 484px) {
  .card-component {
    margin-left: 34px;
    margin-right: 34px;
  }
}

@media screen and (min-width: 615px) and (max-width: 1004px) {
  .card-container {
    /* height: 900px; */
    max-width: 700px;
    margin: 0 auto;
  }
  .card-component {
    height: 300px;
    display: flex;
  }

  .card-component-content {
    flex-basis: 250px;
    align-items: flex-start;
  }

  .card-component-content > p {
    text-align: left;
  }
  img {
    width: auto;
    height: 125px;
    /* flex-basis: 250px; */

    /* width: 250px;
        height: auto; */
  }
}

@media screen and (min-width: 1004px) {
  .mid-page-content {
    min-height: 695px;
    padding-top: 72px;
    padding-bottom: 72px;
  }
  .card-container {
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    max-height: 470px;
  }
  .card-component {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    margin: 0;
  }

  .buy-component-container,
  .sell-component-container {
    margin-right: 24px;
  }
}

.svclinks-container {
  margin: auto;
  padding: 31px 24px;
  margin: 0px;
}

.svclinks__list {
  list-style: none;
  display: flex;
  width: 100%;
  padding: 0;
}

.svclinks__list li {
  flex-grow: 1;
}

.svclinks__list li::before {
  content: ' ';
  width: 1px;
  background: gray;
  height: 32px;
  padding-top: 10px;
  position: absolute;
}

.svclinks__list li:nth-child(1)::before {
  display: none;
}

.svclinks__list-btn {
  padding: 12px 40px 12px 16px;
  margin: auto;
  line-height: 24px;
  background: transparent url(/Images/Icons/Chevron\ Down.svg) no-repeat right
    center;
  background-size: 40px 15px;
  display: block;
  cursor: pointer;
  border: none;
}

.svclinks__list-btn:hover {
  text-decoration: underline;
}

.btn-label {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin-right: 8px;
  color: #2a2a33;
  font-weight: 600;
}

.svclinks__list div {
  display: flex;
  justify-content: center;
} 
 

.header-container{
  padding: 0;
  font-family:'Segoe UI';
  font-size: 15px; 
  background-color: black; 
  height: 45px;
  width: 100%;
}

.header-container_dropdown_icons{
  display: none; 
  top: .05%;
  left: 2rem;
  position: absolute; 
  cursor: auto;
  font-size: 20px;
}  

.header-container_nav-list {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin: auto; 
  list-style: none;
  text-decoration: none;
}

.header-container_nav-list li:hover .header-container_sub-dropdown {
  display: block;
}

.header-container_nav-list a {
  text-decoration: none;
  color: white;
}

.header-container_nav-list > li > a{
  display: block;  
  height: 45px;
  line-height: 45px;
}

.header-container_sub-dropdown li{
  text-decoration: none;
  list-style-type: none;
}

.header-container_sub-dropdown > li{
  position: relative;
}

.header-container_sub-dropdown{
  display: none;
  position: absolute;
  left: 0;
  top: 45px;
  width: 100%;
  overflow: auto;
  background-image: url(./Images/road.jpg);
  background-size: cover;   
}

.header-container_sub-dropdown ul {
  margin: auto;
}

.header-container_sub-dropdown ul li{
  padding: 10px 0;
}

.header-container_sub-dropdown ul li a{
  padding: 10px 0;
  color: white;
}

.header-container_title{
  font-size: 30px;
  color: white;
}

.header-container_nav-list, .header-container_sub-dropdown ul {
  max-width: 1280px;
  width: 100%;
}

.header-container_icons i{
  color: black;
  font-size: 30px;
  line-height: 80px;
  cursor: pointer;
  display: none;
}



